.GC4.Product {
	width: 22%;
	display: inline-block;
	height: 420px;
	margin-bottom: 20px !important;
}
.woocommerce-Price-currencySymbol {
	font-size: .7em;
	vertical-align: baseline;
	padding-right: 3px;
}

.variations select{
	width: 100%;
}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
	float: left;
	width: 30%;
	clear: none;
}
.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images {
	float: right;
}
.ProductImageContainer{
	height: 260px;
}
.PageTitle a{
	color: #000;
	margin: 20px 15px;
	display: block;
}
.woocommerce a.added_to_cart {
	 padding-top: 0; 
	display: inline-block;
}
ul.main-menu {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	list-style: none;
	background: #daecff;
	z-index: 999;
	width: 100%;
	margin: 0;
	padding: 0;
}
ul.main-menu li{
display: inline-block;
position: relative;
}
#DesignImage3 {
	height: 81px;
}
ul.main-menu li a{
	color: rgb(36, 36, 36);
	text-decoration: none;
	padding: 8px 10px;
	font-size: 13px;

}
ul.main-menu li a:hover{
	background: #D5D5D5;
}

ul.main-menu li ul{
	position: absolute;
	top: 100%;
	left: 0;
	background: #daecff;
	width: 200px;
	margin: 0;
	padding: 0;
	display: none;
}
ul.main-menu li ul ul{
	position: absolute;
	top: 0;
	left: 100%;
	background: #daecff;
	width: 200px;
}
ul.main-menu li:hover > ul{
	display: block;
}
ul.main-menu li ul li{
	text-align: left;
	display: block;
}
ul.main-menu li ul li a{
	padding: 10px;
	display: block;
}

ul.main-menu li ul li a:hover{
	background: #D5D5D5;
	
}



.Banner .BannerBox {
	height: 78%;
}

.ImgLink img {
	display: block;
	width: 100%;
}
.Banner .gallery-buttons {
	bottom: 65px;
}

.footer-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}


.footer-menu li {
	display: inline-block;
}
.footer-menu li a {
	color: rgb(36, 36, 36);
	text-decoration: none;
	padding: 2px 10px;
	border-right: 1px solid #d5d5d5;
	line-height: 20px;
	transition-duration: .4s;
}
.footer-menu li a:hover{
	background: red;
	color: #fff;
}
.footer-menu li:last-child a{
	border-right: none;
}

.ProductPrice, .ProductPriceOtherInformation, .ProductIntroduction{
	display: block;
	padding: 0px 8px;
}
.drop-down{
	display: none;
}
.DesignImage3Full {
	padding:  0 88px !important;
	margin: auto;
}
#Content, #ContentWrap {
	display: block !important;
	
}
.PageDescription {
	font-size: 1em;
	margin: 5px 5px 0 5px;
	padding: .25em 5px;
	line-height: 1.5em;
	word-wrap: break-word;
	border-width: 0px;
	border-style: solid;
}
.PageImage {
	margin: 10px;
	float: right;
	border-width: 0px;
	border-style: solid;
}
.idx2Submenu ul {
	margin: 0;
	list-style: none;
	overflow: hidden;
	display: block;
	text-align: left;
	width: 100%;
	position: relative;
	margin: auto;
	vertical-align: top;
}

.idx2Submenu li {
	position: relative;
	overflow: hidden;
	display: inline-block;
	text-align: center;
	width: 19%;
	height: 200px;
	margin-right: 8px;
	margin-bottom: 10px;
}
.idx2Submenu .SubPageNavigationBox img {
	max-height: 170px;
	height: auto;
	width: auto !important;
	position: relative;
	top: 85px;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	max-width: 100%;
	display: block !important;
	margin: auto;
}
.BreadcrumbsTrail, .woocommerce-breadcrumb, .woocommerce-breadcrumb a {
	color: #000 !important;
}

.woocommerce div.product .product_title {
	font-size: 1.4em;
	margin: 0 0 5px;
	padding: 0 5px 5px 5px;
	word-wrap: break-word;
	line-height: 1.1em !important;
	padding-bottom: 0.1em;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
	font-size: 1.875em;
	font-weight: bold;
	color: #000000;
	margin-top: 30px;
}
.ProductOptions{
	margin-bottom: 30px;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	background-color: #ff1f00;
	color: #fff;
	-webkit-font-smoothing: antialiased;
}

.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover {
	background-color: #ff1f00;
	color: #fff;
	opacity: .3;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
	background-color: #ff1f00;
	color: #fff;
}
.woocommerce div.product form.cart div.quantity {
	float: left;
	margin: 0px 4px 0 0;
}
.woocommerce .quantity .qty {
	width: 2.631em;
	text-align: center;
	padding: 5px;
	font-size: 19px;
}
.woocommerce div.product form.cart .variations td.label {
	padding-right: 1em;
	display: none;
}
.woocommerce div.product form.cart .variations select{
	border-radius: 0 !important;
	border-width: 1px;
	border-style: solid;
	border-color: inherit;
	min-height: 24px;
	border-color: #daecff;
	padding: 6px;
}
.woocommerce-tabs.wc-tabs-wrapper {
	width: 70%;
	float: right;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	background-color: #ff9124;
	display: inline-block;
	position: relative;
	z-index: 0;
	border-radius: 0;
	margin: 0 -5px;
	padding: 0 1em;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
	border-bottom: 1px solid #ff1f00
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	color: #ffffff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active{
	background-color: #ff9124;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
	color: #fff;
}
.single-product thead {
	background: #D9EFBA;
	color: #000000;
}
.single-product .tablepress {
	width: 80%;
}
.single-product tbody tr td {
	padding: 2px;
	border: 1px solid #ccc;
	margin: 0;
	font-size: 13px;
}
.single-product tbody tr td:first-child{
	background: #E7E9E8;
}

#tab-title-additional_information, #tab-title-reviews {
	display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	display: inline-block;
	padding: 2px 0;
	font-weight: 700;
	color: #515151;
	text-decoration: none;
	font-size: 16px;
}
.SubPageNavigationTitleContainer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}



@media all and (max-width: 1199px){
	.GC4.Product {
		width: 22%;
		display: inline-block;
		height: 470px;
	}
	#WebSite, #WebSiteHeader {
		min-width: inherit;
	}
	#WebSiteContent, #WebSiteFooter {
		min-width: inherit;
		max-width: inherit;
	}
	#Content {
		min-width: inherit;
		max-width: inherit;
	}
	.Banner a.BannerImage img {

		width: 90%;
		margin: auto;
	}
	.Banner .gallery-buttons {
		bottom: 79px;
		right: 58px;
	}
	.DesignImage3Full {
		position: absolute !important;
		left: -100% !important;
		right: -100%;
		height: 100% !important;
		top: 0;
		z-index: 0;
		padding:0 !important;
		float: none !important;
	}
	#MiniCart {
		margin: 0 24px 0 5px;
	}
}
@media all and (max-width: 1076px){
	.GC4.Product {
		width: 28%;
		text-align: center;
	}
		#DesignImage3 {
			height: inherit;
			padding: 12px 0 62px 0;
		}
	ul.main-menu li a {
		padding: 5px 6px;
	}
	#PageDescription-D-2 {
	margin: auto;
	width: 90%;
}
.idx2Submenu li {
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 23%;
	height: 200px;
	margin: .5%;
}
}

@media all and (max-width: 767px){
	.GC4.Product {
		width: 47%;
		text-align: center;
		height: 452px;
		margin-bottom: 73px;
	}
	.ImgLink img {
		display: block;
		width: 100%;
	}
	.ProductImage a {
		background-color: transparent;
		display: block;
		width: 250px;
		text-align: center;
		margin: auto;
	}
	html {
		margin:0;
	}
	#CompanyImage, #SiteHeadingContainer, #SiteSlogan {
		display: block !important;
	}
	.title-wrapper {
		float: left;
		top: -47px;
	}
	#DesignImage3 {
		height: inherit;
		padding: 12px 0 14px 0;
	}
	#Search {
		position: relative;
		margin: 20px auto;
		width: 74%;
		display: inline-block;
		z-index: 700;
		border-width: 1px;
		border-style: solid;
		background-color: transparent;
		border-radius: 5px;
		overflow: hidden;
		display: block;
	}
	ul.main-menu{
		display: none;
	}
	ul.main-menu li {
		display: block;
		padding: 6px 10px;
	}
	.drop-down{
		display: block;
		text-align: right;
	}
	ul.main-menu li a {
		padding: 23px 10px;
		font-size: 19px;
	}
	.drop-down a i {
		color: #777;
		font-size: 36px;
		margin-right: 20px;
	}
	.DesignImage3Full {
		margin: inherit;
	}
	.Banner a.BannerImage img {
		height: 228px;
	}
}
@media all and (max-width: 570px){
	.GC4.Product {
		width: 96%;
		text-align: center;
		height: 452px;
		margin-bottom: 30px;
}
.Banner .gallery-buttons {
	bottom: 100px;
	right: 22px;
}
.Banner a.BannerImage img {
		height: 170px;
	}
	.footer-menu li {
	display: block;
}
.footer-menu li a {
	text-decoration: none;
	padding: 6px 10px;
	border-right: none;
	line-height: 20px;
	display: block;
	font-size: 19px;
}
.idx2Submenu li {
	width: 48%;
}
}

@media all and (max-width: 414px){
	.GC4.Product {
		width: 96%;
		text-align: center;
		height: 452px;
		margin-bottom: 30px;
}
.Banner a.BannerImage img {
		height: 150px;
	}
	#CompanyImage img {
	display: block;
	text-align: center;
	margin: auto;
}
.title-wrapper {
	float: none;
	top: 0;
	right: ri;
	right: 0;
	left: 0;
	text-align: center;
	margin: auto;
	display: block;
}
.right-topicons {
	margin-right: 24%;
}
html {
	margin: 0 !important;
}
.idx2Submenu li {
	width: 100%;
}
}

	
/* Do not change these lines */

/* Do not change these lines */

/* Do not change these lines */

/******************/
/* Mobile devices */
/******************/
.responsive {height:auto ! important;float:none ! important;width:100%!important;max-width:100%;}

.header.mobile {position:fixed;top:0;width:100%;min-height:50px;z-index:99999;-webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.5); -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.5); box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.5);}

.header.mobile input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{display:none;}
.header.mobile input[type=search]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;}

/* *** Start: Navigation *** */
.header.mobile .utils {margin:0;padding:9px;}
.header.mobile .utils menu {display:block;float:right;min-height:32px;text-align:right;position:relative;width:100%;}
.header.mobile .utils [id^=util_] a span {display:none;}
.header.mobile .utils a{display:block;text-decoration:none;}
.header.mobile .utils li{list-style:none;margin:0;vertical-align:middle;font-size:.9em;}
.header.mobile #util_group {white-space:nowrap;float:right;right:0;position:absolute;top:50%;-ms-transform:translateY(-50%);-moz-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.header.mobile #util_group #util_menu {float:left;}

.header.mobile .utils #util_searchbox {clear:both;display:none;position:relative;text-align:center;padding-top:5px;}
.header.mobile .utils #util_searchbox #phrase, .header.mobile .utils li#util_searchbox input[type=search] {border:0;height:2.5em;line-height:2.5em;width:100%;max-width:85%;display:inline-block;padding:0 2em  0 5px;-webkit-box-shadow:inset 0px 0px 2px 0px rgba(0,0,0,0.8);-moz-box-shadow:inset 0px 0px 2px 0px rgba(0,0,0,0.8);box-shadow:inset 0px 0px 2px 0px rgba(0,0,0,0.8);}
.header.mobile .utils #util_searchbox input[type=submit] {display:inline-block;border:0;position:absolute;right:0;min-width:32px;}
.header.mobile .utils #util_searchbox_search {margin-left:-2em;height:2.5em;}
.header.mobile .utils #util_searchbox_search a {background-color:transparent;padding:0;vertical-align:middle;display:inline-block;}
.header.mobile .utils #util_searchbox_search a i {position:absolute;top:50%;margin-top:-.55em;}

.header.mobile .utils #mobile_SwitchCurrency .currencySymbol {padding:0 5px;font-weight:bold;font-style:normal;box-sizing:border-box;font-size:18px;line-height:1;}

.header.mobile .utils #sidemap-button {border-width:1px;border-style:solid;border-radius:2px;text-transform:uppercase;margin:0 10px 0 0;padding:0;}
.header.mobile .utils #sidemap-button i[class^=icon-] {padding:5px 0 5px 5px;vertical-align:bottom;display:inline-block;}
.header.mobile .utils a#sidemap-button span {display:inline-block;padding:5px;}

.header.mobile .sf-button, .header.mobile .sf-button:visited{position:relative;display:inline-block;max-height:32px;padding:0;margin:0;border:0;box-sizing:border-box;}
.header.mobile .sf-button a {height:100%;padding:5px;box-sizing:border-box;color:inherit;}

.header.mobile .SiteHeading {text-align:left!important;margin:auto!important;display:block;font-size:2em;float:left;vertical-align:middle;left:0;position:relative;}
.header.mobile .SiteHeading h1 {margin-left:0;margin-right:0;}
.header.mobile .CompanyImage {display:block!important;max-width:48%;text-align:left;width:auto;height:auto;float:left;}
.header.mobile .CompanyImage img {display:block;max-width:100%;max-height:75px;width:auto;}

.BannerMobile {height:auto;width:100%!important;margin:0 auto!important;position:relative;}
.BannerMobile .gallery-box {clear:both;overflow:hidden;}
.BannerMobile .gallery-buttons{position:absolute;bottom:0;right:0;padding:10px;width:auto;width:auto!important;}
.BannerMobile .gallery-buttons .button{display:block;float:left;width:16px;height:16px;margin:0 4px;padding:0px;cursor:pointer;background:#fff;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;-o-border-radius:50%;opacity:0.6;filter:alpha(opacity=60);-moz-box-shadow: 0px 0px 10px #333;-webkit-box-shadow: 0px 0px 10px #333;box-shadow: 0px 0px 10px #333;}
.BannerMobile .gallery-buttons .button.selected{opacity:1;}
.BannerMobile .BannerBox{position:relative;width:100%;height:auto;text-align:center;top:50%;-ms-transform:translateY(-50%);-moz-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.BannerMobile .BannerBox a{float:left;width:100%;height:auto;position:relative;}
.BannerMobile .BannerImage {width:100%;max-width:100%;height:auto;vertical-align:middle;display:block;margin:auto;position:relative;}
.BannerMobile .BannerInfo{position:absolute;width:100%;left:0;z-index:9;text-align:left;line-height:100%;bottom:0;-ms-transform:none;-webkit-transform:none;-moz-transform:none;transform:none;top:auto;}
.BannerMobile .BannerBox .BannerInfo .BannerFilter {display:inline-block;width:100%;max-width:100%;background:url(../media/sf-darken.png);}
.BannerMobile .BannerBox .BannerInfo .BannerTitle{width:auto;width:auto!important;margin:0;padding:10px;font-size:1.625em;font-weight:bold;line-height:1.2em;word-wrap:break-word;border-width:0px;border-style:solid;}
.BannerMobile .BannerBox .BannerInfo .BannerIntroduction{width:auto;max-width: 85%;margin:0;padding:10px;font-size:0.750em;font-weight:normal;line-height:1.5em;word-wrap:break-word;border-width:0px;border-style:solid;height:auto;overflow:visible;}

.footer.mobile {position:fixed;left:0;bottom:0;width:100%;height:32px;z-index:99999;-webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.5); -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.5); box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.5);}
.footer.mobile .utils {margin:0;padding:0;}
.footer.mobile .utils menu {display:block;height:32px;}
.footer.mobile .utils #util_gototop {display:none;}
.footer.mobile .utils [id^=util_] a span {display:none;}
.footer.mobile .utils a{display:block;text-decoration:none;}
.footer.mobile .utils li{list-style:none;margin:0;}
.footer.mobile .sf-button, .footer.mobile .sf-button:visited{position:relative;display:inline-block;max-height:32px;padding:0;margin:0;border:0;overflow:hidden;box-sizing:border-box;}
.footer.mobile .sf-button a {height:100%;padding:7px;box-sizing:border-box;color:inherit;}

#mobile_switchlang {overflow:visible;}
#mobile_switchlang .Outer {display:block;text-align:right;border-width:1px;border-style:solid;border-color:transparent;border-top:none;background-color:transparent;z-index:1;}
#mobile_switchlang [class*=icon-] {display:inline-block;font-size:.8em;}
#mobile_switchlang .SwitchLangName {display:inline-block;position:relative;}
#mobile_switchlang .SwitchLangName img {border:none;}
#mobile_switchlang:hover {border:1px solid #eeeeee;border-bottom:none;-moz-box-shadow:3px 0px 5px #bbbbbb;box-shadow:3px 0px 5px #bbbbbb;}
#mobile_switchlang:hover .Inner, #mobile_switchlang.over .Inner {display:block;margin:0px;}
#mobile_switchlang .Inner {position:absolute;bottom:19px;transform:none;right:-1px;white-space:nowrap;display:none;clear:both;cursor:pointer;text-align:left;border:1px solid #eeeeee;-moz-box-shadow:0px -2px 5px 1px #bbbbbb;box-shadow:0px -2px 5px 1px #bbbbbb;}
#mobile_switchlang .Inner a {display:block;border-top:1px dotted;padding:5px 2px;}
#mobile_switchlang .Inner a:first-child {border:none;}
#mobile_switchlang .Inner a img {border:none;}


#Sidemap, #Sitemap {text-align:left;}
#Sidemap {min-width:200px;max-width:300px;}
#Sidemap #sidemap-close {float:right;background-color:transparent;border:none;padding:.5em .2em;}
#Sidemap #sidemap-close i {font-size:15px;}
#Sidemap #sidemap-close a {background-color:transparent;}
#Sidemap p {clear:both;}
#Sidemap .idx-menu {position:relative;box-sizing:border-box;padding:0 10px;clear:both;}
#Sidemap .idx-menu ul ul {padding-left:10px;}
#Sidemap .idx-menu li {position:relative;overflow:hidden;width:100%;}
#Sidemap .idx-menu li a {display:block;text-decoration:none;background-color:transparent;white-space:nowrap;position:relative;margin:0 0 4px 0;/* overflow:hidden; */}
#Sidemap .idx-menu li a.selected {font-weight:bold;}
#Sidemap .idx-menu li a:hover, #Sidemap .idx-menu li a.active {}
#Sidemap .idx-menu li a span {font-size:16px;line-height:22px;white-space:normal;}
#Sidemap .idx-menu li a i[class^=icon-] {font-size:8px;width:10px;display:inline-block;vertical-align:top;line-height:26px;margin-left:5px;}
#Sidemap .idx-menu li a i + span {padding-left:0px;}
#Sidemap .idx-menu li ul {display:none;}
#SidemapOverlay {display:none;position:fixed;top:0px;right:0px;bottom:0px;left:0px;height:100%;z-index:999998;background-color:rgba(0,0,0,0.5);-webkit-animation:fade 500ms;-moz-animation:fade 500ms;-ms-animation:fade 500ms;-o-animation:fade 500ms;animation:fade 500ms;}
body.Sidemap-open {height:100%;position:relative!important;}
body {left:auto!important;}

.PageImage {width:auto;height:auto;text-align:center;}

.ThumbnailSliderContainer [id^=ms_] i[class^=icon-] {padding:10px;font-size:2em!important;}

.ThemeVersion-11 .ProductImageContainer > .ImgLink.HasSlider {width:80%!important;}
.ThemeVersion-11 .ProductImageContainer > .ImgLink.HasSlider .ProductImage {display:inline-block;}
.ThemeVersion-11 .ProductImageContainer > .ThumbnailSliderContainer {width:19%;}

/* tablet */
@media all and (min-width:965px) and (max-width:1240px){
	.ThemeVersion-11 #WebSite, .ThemeVersion-11 #WebSiteHeader, .ThemeVersion-11 #WebSiteFooter {min-width:768px;}
	.ThemeVersion-11 #WebSiteContent {min-width:940px;width:940px;display:block;}
	.ThemeVersion-11 #WebSiteHeaderInner, .ThemeVersion-11 #DesignImage1, .ThemeVersion-11 #DesignImage2{min-width:940px;max-width:940px;}
	.ThemeVersion-11 #WebSiteLinkBoxWrapper {max-width:940px;}
	.ThemeVersion-11 #Content {min-width:940px;max-width:940px;}
	.ThemeVersion-11 #SideBar_L {display:inline-block;}

	.ThemeVersion-11 .Banner,.ThemeVersion-11 .Banner-Slider {height:auto!important;width:100%!important;margin-top:0px!important;}
	.ThemeVersion-11 .Banner div,.ThemeVersion-11 .Banner-Slider div {width:100%;}

	#WebSiteContent {display:table;margin:0 auto!important;}
	#SideBar_L {display:table-cell;vertical-align:top;float:none;min-width:170px;}
	#Content, #ContentWrap {height:auto;width:auto;display:table-cell;vertical-align:top;float:none;overflow:hidden!important;overflow-y:hidden!important;overflow-x:hidden!important;}
}

/* tablet */
@media all and (min-width:769px) and (max-width:964px){
	.mobile {display:none!important;}
	.mobile-xor {display:inherit;}
	.mobile-portrait {display:none;}
	.mobile-landscape {display:none;}
	.tablet {display:inherit!important;}
	.tablet-portrait {display:inherit;}
	.tablet-landscape {display:inherit;}
	.tablet.mobile {display:inherit!important;}
	.desktop {display:none;}
	.desktop-xor {display:none!important;}

	.ThemeVersion-11 #WebSite, .ThemeVersion-11 #WebSiteHeader, .ThemeVersion-11 #WebSiteFooter {min-width:700px;}
	.ThemeVersion-11 #WebSiteContent {min-width:700px;width:724px;display:block;}
	.ThemeVersion-11 #WebSiteHeaderInner, .ThemeVersion-11 #DesignImage1, .ThemeVersion-11 #DesignImage2{min-width:700px;max-width:724px;}
	.ThemeVersion-11 #WebSiteLinkBoxWrapper {max-width:724px;}
	.ThemeVersion-11 #Content {min-width:724px!important;max-width:724px;}
	#Content, #ContentWrap {min-width:560px!important;}
	.ThemeVersion-11 .ProductCrossPromotionContainer *, .ThemeVersion-11 .ProductCrossPromotionContainer_Recommend * {font-size:1em!important;}
	.ThemeVersion-11 #SideBar_L {display:inline-block;}

	.Banner,.Banner-Slider {height:auto!important;width:100%!important;margin-top:0px!important;}
	.Banner div,.Banner-Slider div {width:100%!important;}

	#Index1 {max-width:100%;}

	#WebSiteContent {display:table;margin:0 auto!important;}
	#SideBar_L {display:table-cell;vertical-align:top;float:none;min-width:170px;}
	#Content, #ContentWrap {height:auto;width:auto;display:table-cell;vertical-align:top;float:none;overflow:hidden!important;overflow-y:hidden!important;overflow-x:hidden!important;}
	#SideBar_R {display:none!important;}
	#ProductLoop {margin:0;}

	#DesignImage1 {min-width:0;max-width:100%;}
	#DesignImage2 {min-width:0;}
	#DesignImage4, #DesignImage5, #DesignImage6 {display:none!important;}
	#DesignImage2, #DesignImage3, #DesignImage7, #DesignImage8, #DesignImage9 {width:100%;} /* 9-AAH */
	#DesignImage9 > #DesignImage11 {width:auto!important;float:none!important;} /* 9-AAH */
	#MastheadWrap {width:auto;}

	#Breadcrumbs-D-9 + #PageContainer11 #SideBar_R {display:block!important; position:relative;} /* don't hide Contact Us information */
	#CompanyImage {z-index:50;}

	.PageImage {width:auto;height:auto;text-align:center;}

	fieldset#shopping_cart_main {margin:0 10px 10px 10px;}

	#payment_details_extra {display:block;text-align:left;padding:1em 1em .5em .5em;}

	body:not([class*=ThemeVersion-11]) .ProductImageContainer {width:auto!important;}
	body:not([class*=ThemeVersion-11]) .ProductImageContainer > .ImgLink {width:auto!important;}
	body:not([class*=ThemeVersion-11]) .ThumbnailSliderContainer {display:none ! important;}
	.sf-scrollbar-table {overflow:auto;}

	.ddSitemapLink {padding:10px 5px;font-size:1.2em;}

	[id^=ms_] i[class^=icon-] {padding:2px;font-size:2em!important;}
}

/* mobile-landscape */
@media all and (max-width:768px){
	.mobile {display:inherit!important;}
	.mobile-xor {display:inherit;}
	.mobile-portrait {display:none;}
	.mobile-landscape {display:inherit;}
	.tablet {display:none!important;}
	.tablet-portrait {display:none;}
	.tablet-landscape {display:none;}
	.tablet.mobile {display:inherit!important;}
	.desktop {display:none;}
	.desktop-xor {display:none!important;}

	.ThemeVersion-11 .ProductCrossPromotionContainer *, .ThemeVersion-11 .ProductCrossPromotionContainer_Recommend * {font-size:1em!important;}
	.ThemeVersion-11 .ProductIcons *, .ThemeVersion-11 .ProductMoreDetails {font-size:1em!important;}

	*{font-size:1em;text-rendering:optimizelegibility;margin:0;padding:0;text-overflow:ellipsis;}
	html {margin:50px 0 32px 0;width:auto!important;height:auto;float:none!important;min-width:inherit!important;}
	#WebSiteHeader, #WebSiteHeaderTop, #SideBar_L, #SideBar_R, #idxSubpageNavigation, #Index1, #Index2, #MastheadWrap, #SelectBar {/*! display:none!important; */}
	body {width:auto;height:auto;float:none!important;margin:0!important;min-width:inherit!important;}
	#WebSite, #WebSiteContent, #Content, #WebSiteFooter {width:auto!important;height:auto;float:none!important;margin:0!important;min-width:inherit!important;}
	#DesignImage1, .WebSiteFootnote, #PageContainer10, #PageContainer1, body:not([class*=ThemeVersion-11]) #PageContainer11, #ContentWrap {width:auto!important;height:auto!important;float:none!important;margin:0!important;min-width:inherit!important;}
	.ThemeVersion-11 #DesignImage1, .WebSiteFootnote, #PageContainer10, #PageContainer1, #ContentWrap {width:auto!important;height:auto!important;float:none!important;margin:0!important;min-width:inherit!important;}
	.ThemeVersion-11 #Content #idxSubpageNavigation {display:block!important;}

	.header.mobile .SiteHeading {font-size:1.45em;line-height:1.45em;}

	#Breadcrumbs-D-9 + #PageContainer11 #SideBar_R {display:block!important; position:relative;height:auto!important;} /* don't hide Contact Us information */
	#Content {padding-top:10px!important;}
	#AppLogo {left:auto;text-align:center;margin:10px auto;}
	#DesignImage1, #DesignImage2, #DesignImage3, #DesignImage4 {display:block;}
	#WebSiteFooter {padding-top:0;}
	#CompanyImage, #SiteHeadingContainer, #SiteSlogan {display:none;}
	#MiniCartSearchLanguageContainer, #MiniCartAlt, #MiniCart, #Search {display:block;}
	#ProductLoop {padding-top:10px;}

	.PageImage {width:auto;height:auto;text-align:center;float:none;display:inline-block;position:relative;left:50%;-ms-transform:translateX(-50%);-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);transform:translateX(-50%);}

	.ProductImage {text-align:center;}
	.ProductImage a[id|=ProductThumbnailImage] {position:relative;}
	body:not([class*=ThemeVersion-11]) .ProductImage img {display:inline!important;}
	.ThemeVersion-11 .ImgLink {min-height:24px!important;}
	.ProductImageCaptionIcon span.hide {position:relative;top:0px;}

	.Banner,.Banner-Slider {display:block;}

	.ChangeCurrencyFieldSetParent {padding:10px;}

	.ddSitemapLink {min-width:0;position:relative!important;}

	fieldset#shopping_cart_main {margin:0 0 10px 0;}
	#shopping_cart_main {margin:0;}
	.prod_imgs, .prod_img, .prod_img img{width:38px;}
	.shopping_cart_contains_images .prod_subtotal_parent + .prod_inner_1 {margin-left:58px;}

	#ship_region, #ship_method, #payment_details_0, #payment_details_1 {margin:10px 0px 0px 0px;}
	#payment_details {margin:0;}
	#master_st,.master_st {margin:0;}

	#payment_details_extra {display:block;text-align:left;padding:1em 1em .5em .5em;}
	.voucher input#voucher {margin-bottom:.25em;}

	#payment_details_3rdparty li {display:block;}

	.ship_method_element .ship_method_items, .ship_method_element .ship_method_inner {float:none;text-align:left;width:auto;}
	.ship_method_cost {text-align:right;}
	.ship_method_element .ship_method_items, .ship_method_element .ship_method_inner, #payment_details_desc {float:none;width:auto;}

	#eddpmethod {float:none!important;width:auto;}
	#pmsurcharge {float:none!important;}

	h1,h2,h3,h4,h5,h6{margin:.5em 10px .25em 10px}

	#sfLightBox {height:99%!important;margin-left:0!important;margin-top:0!important;left:0!important;top:0!important;position:absolute;}
	#sfLightBox #sfLightBoxContents table td img {width:100%!important;height:auto!important;}
	#sfLightBox #sfLightBoxContents .CenterVertical {width:100%!important;height:auto!important;}

	#order_contents * {margin:0;}
	#order_contents #bsktbl_hdr, #order_contents #bsktbl_prods, #order_contents form, #order_contents .ViewbasketCheckout, #bsktblParent {margin:5px 10px!important;}
	#order_contents #bsktbl_hdr input[type=button] {margin-left:5px!important;}
	#order_contents #payment_details_extra:empty {display:none;}
	fieldset.fe {margin:5px 0!important;}

	#ProductContainer1, #ProductContainer2, #ProductContainer3, #ProductContainer5, .ProductContainer1, .ProductContainer2, .ProductContainer3, .ProductContainer5, .ProductImage, .ProductImageContainer {float:none ! important;width:auto ! important;}
	#ProductContainer1, #ProductContainer5, .ProductContainer1, .ProductContainer5 {margin-left:0 ! important;margin-right:0 ! important;border-width:0 ! important;}
	#ProductContainer1 h1, #ProductContainer1 h2, .Product h2 {margin:0!important;}
	#ProductContainer1 .ProductTitle, #ProductContainer1 .ProductIntroduction, #ProductContainer1 .ProductIntroduction p {display:block;}
	.ProductCrossPromotion {text-align:center;}
	.ProductCrossPromotion .ProductCrossPromotionContainer,.ProductCrossPromotion .ProductCrossPromotionContainer_Recommend {float:none;margin:0 auto 10px auto;border-width:0 0 1px 0;}
	body:not([class*=ThemeVersion-11]) .ThumbnailSliderContainer {display:none ! important;}
	.ProductImage span.hide{display:block ! important;background-image:none ! important;}
	.ThemeVersion-11 .ProductImage .ImgLink {background-image:none ! important;}
	.Breadcrumbs nobr {display:inline-block;}
	.Breadcrumbs #BackLink + #ProductContainer1 {margin-right:0;border-width:0 ! important;}
	.ProductContainer2 .ProductMoreDetails {float:none;display:inline-block;}
	.ProductContainer5, .ProductContainer5 .ProductContainer2 {height:auto!important;}
	#ProductPurchasing {position:static!important;height:auto!important;width:auto!important;}
	.ProductChoiceName, .ProductChoiceNameImageParent {text-align:left;}

	#WebSite iframe[width], #WebSiteContent object[width], #WebSiteContent embed[width] {width:100%!important;}
	#WebSite div[class][id] {background-size:100%;}
	#WebSite div[class*=Button][id] {background-size:auto;}
	#Content div[class][id] table[width] {width:100%!important;}
	.sf-scrollbar-table {overflow:auto;}

	.ddSitemapLink {padding:10px 5px;font-size:1.2em;}
	#mobile_switchview.ddSitemapLink {display:block;padding:10px;}

	[id^=ms_] i[class^=icon-] {padding:0;font-size:1.5em!important;}
}

/* custom search bar switch */
@media all and (max-width:635px){
	.header.mobile .SiteHeading {font-size:1.35em;}
	.header.mobile .CompanyImage {position:relative;top:0;-ms-transform:none;-webkit-transform:none;-moz-transform:none;transform:none;}

	.PageImage {float:none;margin:0 auto;}

	.slide-holder.responsive-breakout .slide-runner {height:auto!important;}
	.slide-holder.responsive-breakout .slide-item {position:static!important;left:0!important;max-height:none;height:auto!important;}
	.slide-holder.responsive-breakout .slide-item > div {float:none;margin:10px auto;min-width:300px;height:auto!important;}
	.slide-holder.responsive-breakout .slide-item > div:first-child {margin:10px auto;}
	.slide-holder.responsive-breakout .slide-nav {display:none!important;}

	.ProductCrossPromotionImage.NoImage {display:none;}

	#ProductLoopInner.fixedWidth .Product {width:auto!important;}
	#ProductLoopInner.fixedWidth .ProductContainer1 {width:100%!important;}
	#ProductLoopInner.fixedWidth .ProductContainer1 .ProductTitle {width:100%;position:absolute;}
	#ProductLoopInner.fixedWidth .ProductImageContainer1 {float:none;margin-left:0;margin-right:0;}

	.ProductTableHeader>tbody>tr>td {float:right;width:auto;}
	.ProductTableHeader>tbody>tr>td .ProductPurchaseContainer {padding-top:8px;}
	.ProductTableHeader>tbody>tr>td .ProductTitle {margin:0;}
	.ProductPurchaseContainer>tbody>tr>td {float:left;width:auto;text-align:right;}
	.ProductPurchaseContainer>tbody>tr>td.ProductIcons:nth-child(1) {float:right;}
}

@media all and (max-width:559px){
	#A2BRight {padding-top:20px!important;}
	#A2BContinue {width:24px;}
}

@media all and (max-width:520px){
	.header.mobile #util_group {width:100%;margin:10px 0 0 0;position:relative;top:auto;-ms-transform:none;-moz-transform:none;-webkit-transform:none;transform:none;}
}

/* mobile-portrait */
@media all and (max-width:395px){
	.mobile {display:inherit!important;}
	.mobile-xor {display:inherit;}
	.mobile-portrait {display:inherit;}
	.mobile-landscape {display:none;}
	.tablet {display:none!important;}
	.tablet-portrait {display:none;}
	.tablet-landscape {display:none;}
	.tablet.mobile {display:inherit!important;}
	.desktop {display:none;}
	.desktop-xor {display:none!important;}

	body {background-image:url();background-position:top center;background-repeat:no-repeat;}

	.header.mobile .SiteHeading {font-size:1.25em;}

	.shopping_cart_contains_images .prod_imgs {margin-right:5px;}

	object, embed {height:auto ! important;width:auto ! important;}
}

@media all and (max-width:320px){
	.header.mobile .SiteHeading {font-size:1.1em;}
}

.Breadcrumbs #SwitchCurrency {position:relative;right:5px;float:right;text-align:right;}
.Breadcrumbs #SwitchCurrency a {background:transparent;text-decoration:none;white-space:nowrap;}

#PageContainer11 {position:relative;width:100%;}
#PageContainer1 {position:relative;}
#PageContainer3 {position:relative;clear:right;}
#idxSubpageNavigation {
	display: inline-block;
	vertical-align: top;
	min-width: auto;
	width: 200px;
	position: relative;
	z-index: 1;
	width: 100% !important;
	overflow: hidden;
}
#idxSubpageNavigation:empty {display:none;}
#idxSubpageNavigation + #Content {width:calc(100% - 200px);min-width:auto!important;display:inline-block;}
#idxSubpageNavigation:empty + #Content {display:block;width:100%;}
#SideBar_R {display:none;border-width:0px;border-style:solid;}

.PageImage {margin:10px;float:right;border-width:0px;border-style:solid;}
.PageImageCaption { text-align:right;padding:0 3px;}

.PageTitle {font-size:1.875em;margin:0 5px;padding:.25em 5px;font-weight:bold;line-height:1.2em;word-wrap:break-word;border-width:0px;border-style:solid;}
.PageIntroduction {font-size:1.125em;font-weight:bold;margin:5px 5px 0 5px;padding:.25em 5px;line-height:1.5em;word-wrap:break-word;border-width:0px;border-style:solid;}
.PageIntroduction a {text-decoration:underline;}
.PageDescription {font-size:1em;margin:5px 5px 0 5px;padding:.25em 5px;line-height:1.5em;word-wrap:break-word;border-width:0px;border-style:solid;}
.PageDescription a {text-decoration:underline;}

.Product { clear:both;}

/* Page html code */
.PageCodeTop, .PageCodeBottom {padding:10px;}
.PageCodeSnippetArea1, .PageCodeSnippetArea2, .PageLinkBoxTop, .PageLinkBoxBottom {margin:5px;}

/* BEGIN: ContactUs page specific*/
#PageContactUsContainer{margin-top:10px;padding:0 10px 10px 10px;}
.Addressformat {text-align:left;line-height:130%;width:100%;overflow-x:auto;}
.Addressformat ul,.Addressformat li {margin:0;padding:0;list-style:none;}
.Addressformat li {padding:.25em 0px;word-wrap:break-word;background-color:transparent;}
.Addressformat li a {background-color:transparent;text-decoration:underline;}
.Addressformat li:first-child {margin-bottom:.25em;}
.Addressformat li:last-child {padding-bottom:10px;}
.Addressformat li span {font-weight:bold;display:block;}
.Addressformat li span + span {margin-left:1em;}
.AddressformatTitle {font-weight:bold;border-bottom-width:1px;border-bottom-style:solid;}
.AddressformatTitle span {display:none;}
/* END: ContactUs page specific */

/* BEGIN: Basket page specific*/
table#bsktbl td {padding:.5em;text-align:right;}
table#bsktbl .ViewbasketHeader  {text-align:right;font-weight:bold;font-size:0.8125em;}
table#bsktbl span[tag=I_], table#bsktbl span[tag=T_] {text-align:left;display:block;}
table#bsktbl .ViewbasketHeader span[tag=LD_TITLE] {display:block;text-align:left;font-weight:bold;}
table#bsktbl #bsktbl_ttl td {font-weight:bold;font-size:0.8125em;}
table#bsktbl .ViewbasketCkBox td {text-align:left ! important;}
table#bsktbl .ViewbasketCkBox label {margin-left:.5em;}
.DropDowns {width:180px;} /* Select fields for country and region */
.ViewbasketRow2, .ViewbasketExtras {border-width:1px;border-style:solid;}
.ViewbasketCheckOut {height:20px;margin:20px;padding:0;vertical-align:bottom;background-color:transparent;border:0;}
/* END: Basket page specific */

@media all and (min-width:1025px) and (max-width:1240px){
	#idxSubpageNavigation{min-width:0!important;}
	#idxSubpageNavigation + #Content {width:calc(940px - 200px);min-width:0!important;display:inline-block;}

}
@media all and (min-width:768px) and (max-width:1024px){
	#idxSubpageNavigation{min-width:0!important;width:200px;}
	#idxSubpageNavigation + #Content {width:calc(724px - 200px);min-width:0!important;display:inline-block;}


}
@media all and (max-width:767px){
	#idxSubpageNavigation + #Content {display:block;min-width:inherit!important;}


}
@media all and (max-width:635px){

}

body{background-position:0% 0%;background-image:none;}
/*
Version tag, please don't remove
$Revision: 35567 $
$HeadURL: svn://3d3-p432/ShopFactory/branches/V11_20/bin/SFXTemplates/Themes/SFX-MOB-AA_bma/Pages/SFX-Content_1/stylesheet.css $
*/