#PageContainer11 {position:relative;width:100%;}
#PageContainer1 {position:relative;}
#PageContainer3 {position:relative;clear:right;}
.PageImage {margin:10px;float:right;border-width:0px;border-style:solid;}
.PageImageCaption { text-align:right;padding:0 3px;}
.PageTitle {font-size:1.875em;margin:0 5px;padding:.25em 5px;font-weight:bold;line-height:1.2em;word-wrap:break-word;border-width:0px;border-style:solid;}
.PageIntroduction {font-size:1.125em;font-weight:bold;margin:5px 5px 0 5px;padding:.25em 5px;line-height:1.5em;word-wrap:break-word;border-width:0px;border-style:solid;}
.PageIntroduction a {text-decoration:underline;}
.PageDescription {word-wrap:break-word;border-width:0px;border-style:solid;margin:5px 5px 0px;padding:0.25em 5px;text-align:center;line-height:1.5em;font-size:1em;-ms-word-wrap:break-word;}
.PageDescription a {text-decoration:underline;}

.Product { clear:both;}
/* Page html code */
.PageCodeTop, .PageCodeBottom {padding:10px;}
.PageCodeSnippetArea1, .PageCodeSnippetArea2, .PageLinkBoxTop, .PageLinkBoxBottom {margin:5px;}
/* Start SiteMap */
.ddSitemapLink{position:relative;padding:0 5px;cursor:pointer;font-size:0.5625em;background-color:transparent;color:#7c7c7f;}
.ddSitemapMenu{position:absolute;visibility:hidden;left:0;top:0;width:200px;height:150px;padding:0px 5px;border:1px solid #000000;overflow:scroll;overflow-x:hidden;z-index:999;background-color:#ffffff;text-align:left;}
.ddSitemapMenu a,.ddSitemapMenu div{color:#000000;}
.ddSitemapMenu hr{position:relative;width:200px;height:1px;}
.ddSitemapItem{display:block;padding:0px 10px;text-decoration:none;width:190px;}
#ddSFLink{position:relative;text-align:right;top:-12px;}
#ddSFLinkSep{width:86%;}
/* End SiteMap */
@media all and (min-width:1025px) and (max-width:1240px){
}
@media all and (min-width:768px) and (max-width:1024px){
}
@media all and (max-width:767px){
}
@media all and (max-width:635px){
}
body{background-position:0% 0%;background-image:none;}
/*
Version tag, please don't remove
$Revision: 35433 $
$HeadURL: svn://3d3-p432/ShopFactory/branches/V11_20/bin/SFXTemplates/Themes/SFX-MOB-AA_bma/Pages/SFX-Home_1/stylesheet.css $
*/